.table_window{ border-collapse:collapse; }


fieldset, td {
    /*margin: 0;*/
    padding: 0;
}

.win_overlow{
	position:fixed;
	top:0px;
	left:0px;
	background-color: black;
	opacity:0.3;
	filter:alpha(opacity=30);
	width:100%;
	height:100%;
}

.window{
	position: fixed;
}
.window.hidden{
    opacity: 0.0;
}
.window.showed{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1.0;
}
.window_max_size{
    max-width: 800px;
    max-height: 600px;
}

.w-loading{
	display:none;
}
.win_btn_container{
	display: inline-block;
	padding-top: 6px;
	vertical-align: top;
	margin-right: 0;
	position: absolute;
	right: 0;
	background: url(Components/Window/images/ModWinT_bg.png);
}

.win_btn_container > div{
	margin-right: 4px;
}

.win_btn_container > div:last-child {
	margin-right: 5px;
}

.window-control {
 width: 23px;
 height: 23px;
 cursor: hand;
 cursor: pointer;
}
.window-control:hover {
 background-position:  0 -24px;
}
.win_remembersize{
	display: inline-block;
	background:transparent url(Components/Window/images/ok.gif) no-repeat scroll 0 0;
 	cursor: pointer;
 	width: 16px;
 	height: 16px;
}
.win_help{
	display: inline-block;
	background:transparent url(Icons/hlp) no-repeat scroll 0 0;
	cursor: hand;
 	cursor: pointer;
 	width: 16px;
 	height: 16px;
}

.win_maximize{
	display: inline-block;
    background-size: cover;
	background:transparent url(Components/Window/images/maximize_off.png);
    width: 16px;
    height: 16px;
}
.win_close{
	display: inline-block;
	background:transparent url(Components/Window/images/close_off.png) repeat scroll 0 0;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.win_info {
	display: inline-block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.win_info > svg {
	fill: #5ab0e7;
}

.win_info > svg:hover {
	fill: #1F6DD1;
}


.win_maximize:hover {
 background:transparent url(Components/Window/images/maximize_on.png);
 background-size: cover;
}

.win_close:hover{
 background-size: cover;
 background:transparent url(Components/Window/images/close_on.png);
}


.draggable
{
	cursor:move;
}
/*   Title   */
.Title{
    /*margin: 0 3px;*/
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: move;
    line-height: 27px;
    vertical-align: middle;
    padding-left: 4px;
    font-size:14px;
    padding-right: 60px;
    overflow: hidden;
    height: 27px;
    text-overflow: ellipsis;
}
.title_window{
	float:left;
	color:#3D6152;
	font-weight:bold;
	padding:0 0 2px 10px;
	height:14px;
	margin-top:8px;
	width:100%;
	overflow: hidden;
	font-size:14px;
}
.win_title{
	color: darkslategray;
}
/*   Content  */ 
.win_content{
    background:#327db0 url("Components/Window/images/Background.png") center center no-repeat;
	overflow:auto;
	font-size:14px;
}

/* StatusBar  */ 
.win_status_bar
{
	padding-bottom:13px;
	float: left;
	left:-5px;
	bottom:7px;
	position:relative;
	color: green; 
	font-weight: bold; 
	font-size: 14px;
}

.win_onloader{
	overflow: hidden;
	background-color:#F7FAE6;
}
/* WinContent */

	table.WinContent
	{
            display: table;
	}
        table.WinContent tr.headerTitle{
            height: 27px;
        }
        table.WinContent td.WinContent div.formBackground
	{
            -moz-border-radius: 0 0 5px 5px;
            -webkit-border-radius: 0 0 5px 5px;
            -o-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
        }

	table.WinContent td.WinContentLeftTop
	{
                min-width: 10px;
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_tl.png") left top no-repeat;
	}

	table.WinContent td.WinContentTop
	{
		height:10px;
		background:url("Components/Window/images/ModWin_t.png") left top repeat-x;
	}

	table.WinContent td.WinContentRightTop
	{
                min-width: 10px;
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_tr.png") left top no-repeat;
	}
        table.WinContent div.WinTitleLeft
	{
		background:url("Components/Window/images/ModWinT_l.png") left top no-repeat;
                /*background:url("Components/Window/images/ModWin_bg.png") left top;*/
                min-width: 3px;
                width: 3px;
                float: left;
                height:27px;
	}
	table.WinContent div.WinTitle
	{
		display: inline-block;
		margin-left: 0;
	}

	.headerContainer {
		height: 27px;
		background:url("Components/Window/images/ModWinT_bg.png");
		position: relative;
	}

	table.WinContent div.WinTitleRight
	{
                float: right;
                min-width: 3px;
                width: 3px;
                height:27px;
		background:url("Components/Window/images/ModWinT_r.png") right top no-repeat;
                /*background:url("Components/Window/images/ModWin_bg.png") left top;*/
	}
	table.WinContent td.WinContentLeft
	{
		width:10px;
		background:url("Components/Window/images/ModWin_l.png") left top repeat-y;
	}

	table.WinContent td.WinContent
	{
		background:url("Components/Window/images/ModWin_bg.png") left top;
	}
        
	table.WinContent td.WinContentRight
	{
		width:10px;
		background:url("Components/Window/images/ModWin_r.png") left top repeat-y;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinContent td.WinContentLeftBottom
	{
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_bl.png") left top no-repeat;
                cursor:s-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinContent td.WinContentBottom
	{
		height:10px;
		background:url("Components/Window/images/ModWin_b.png") left top repeat-x;
                cursor:s-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinContent td.WinContentRightBottom
	{
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_br.png") left top no-repeat;
                cursor:se-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}